
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCases.cshtml";
}

@model proiect.Models.User.UserRegister

    <div class="container">

        <section class="section register min-vh-150 d-flex flex-column align-items-center justify-content-center py-1">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-5 col-md-15 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/assets/img/insigna.png" alt="">
                                <span class="d-none d-lg-block">Salvează o Viață</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Creează un cont</h5>

                                </div>
    <form method="post">
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="credential">Credential</label>
            @Html.TextBoxFor(UserRegister => UserRegister.Credential, new { @class = "form-control", id = "credential", placeholder = "Email or Phone", maxlength = "30" })
            @Html.ValidationMessageFor(UserRegister => UserRegister.Credential, "", new { @class = "text-danger" })

            <label for="email">Email</label>
            @Html.TextBoxFor(UserRegister => UserRegister.Email, new { @class = "form-control", id = "email", autocomplete = "on", placeholder = "Email or Phone", maxlength = "30" })
            @Html.ValidationMessageFor(UserRegister => UserRegister.Email, "", new { @class = "text-danger" })

            <label for="password"> Parolă nouă</label>
            @Html.PasswordFor(UserRegister => UserRegister.Password, new { @class = "form-control", id = "password", placeholder = "Password" })
            @Html.ValidationMessageFor(UserRegister => UserRegister.Password, "", new { @class = "text-danger" })

            <label for="confirmpassword">Confirmare parolă</label>
            @Html.PasswordFor(UserRegister => UserRegister.ConfirmPassword, new { @class = "form-control", id = "confirmpassword", placeholder = "Confirm password" })
            @Html.ValidationMessageFor(UserRegister => UserRegister.ConfirmPassword, "", new { @class = "text-danger" })

            <div class="sign-in">
                <button class="button">Crează cont</button>
            </div>
        }
    </form>

  </div>
 </div>
</div>
</div>
</div>
            </section>
</div>
    <style>
        body {
            background-image: url('/assets/img/ll.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        </style>