@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
@model proiect.Models.User.UserLogin
<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-right justify-content-right py-1">
        <div class="container">

            <div class="row justify-content-end ml-auto">
                <div class="col-lg-5 col-md-15 d-flex flex-column align-items-right justify-content-left mt-3">

                    <div class="d-flex justify-content-center py-">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/insigna.png" alt="">
                            <span class="d-none d-lg-block">Salvează o viață</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-5 fs-4">Autentifică-te în contul tău</h5>

                            </div>

                            <form class="row g-3 needs-validation" novalidate method="post">

                                @using (Html.BeginForm("LoginPage", "Login", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <label for="Credential">Nume de utilizator</label>
                                    @Html.TextBoxFor(UserLogin => UserLogin.Credential, new { @class = "form-control", placeholder = "Nume", maxlength = "10" })
                                    @Html.ValidationMessageFor(UserLogin => UserLogin.Credential, "", new { @class = "text-danger" })

                                    <label for="Password">Parola</label>
                                    @Html.PasswordFor(UserLogin => UserLogin.Password, new { @class = "form-control", placeholder = "Parola" })
                                    @Html.ValidationMessageFor(UserLogin => UserLogin.Password, "", new { @class = "text-danger" })

                                    <div class="sign-in">
                                        <small><a href="@Url.Action("CreateAccount", "Register")">Nu ai un cont? Înregistrează-te</a></small>
                                    </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Ține-mă minte</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-warning text-dark fw-bold w-100" type="submit" style="background-color: #f8c50e; color: black; ">Intra in cont</button>
                                </div>
                                }
                            </form>

                        </div>
                    </div>

                    <div class="credits">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<head>
    <style>
    body {
        background-image: url('/assets/img/ll.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
</style>
</head>


