@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/bundles/bootstrap/css")
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        @Html.Partial("_Header")
    </header>

    <aside id="sidebar" class="sidebar">
        @Html.Partial("_Navigation")
    </aside>

    <main id="main" class="main">
        @RenderBody()
        @Html.Partial("_Content")
        </main>

        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })



        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

        Scripts.Render("~/bundles/navbar/js")
        @RenderSection("scripts", required: false)
</body>
</html>