﻿<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a href="@Url.Action("PageAdaugareCaz","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Adaugă cazul</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageToateCazurile","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Toate cazurile</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("PageCazuriUrgente","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Cazuri urgente</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageCazuriFinisate","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Cazuri finisate</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("PageFAQ","Home")" class="nav-link collapsed">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageTestimoniale","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Testimoniale</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageContact","Home")" class="nav-link collapsed">
            <i class="bi bi-envelope"></i>
            <span>Contacte</span>
        </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("CreateAccount","Register")" class="nav-link collapsed">
            <i class="bi bi-card-list"></i>
            <span>Înregistrare</span>
        </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("LoginPage","Login")" class="nav-link collapsed">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Autentificare</span>
        </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageParteneriateCompanii","Home")"class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Parteneriate cu companii</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("PageDesprenoi","Home")" class="nav-link collapsed">
            <i class="bi bi-person"></i>
            <span>Despre noi</span>
        </a>
    </li><!-- End Profile Page Nav -->
</ul>

