
@{
    ViewBag.Title = "_NavbarUser";
}

﻿<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a href="@Url.Action("ProfilulMeu","UserLogin")" class="nav-link collapsed">
            <span>Profilul meu</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("AdaugareCaz","UserLogin")" class="nav-link collapsed">
            <span>Adaugă cazul</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("ToateCazurile","UserLogin")" class="nav-link collapsed">
            <span>Toate cazurile</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("CazuriUrgenteUser","UserLogin")" class="nav-link collapsed">
            <span>Cazuri urgente</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("CazuriFinisateUser","UserLogin")" class="nav-link collapsed">
            <span>Cazuri finisate</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("FAQ","UserLogin")" class="nav-link collapsed">
            <span>F.A.Q</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("Testimoniale","UserLogin")" class="nav-link collapsed">
            <span>Testimoniale</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("Contact","UserLogin")" class="nav-link collapsed">
            <span>Contacte</span>
        </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("ParteneriateCompanii","UserLogin")" class="nav-link collapsed">
            <span>Parteneriate cu companii</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("Desprenoi","UserLogin")" class="nav-link collapsed">
            <span>Despre noi</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("Donatielunar","UserLogin")" class="nav-link collapsed">
            <span>Doneaza lunar</span>
        </a>
    </li><!-- End Profile Page Nav -->
</ul>



