﻿<ul class="sidebar-nav" id="sidebar-nav">


    <li class="nav-heading">Pagini</li>
    <li class="nav-item">
        <a href="@Url.Action("PersonalProfile", "Dashboard")" class="nav-link collapsed">
            <span>Profilul meu</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("AddUser", "Admin")" class="nav-link collapsed">
            <span>Adaugă utilizator nou</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("AddCase", "Admin")" class="nav-link collapsed">
            <span>Adaugă cazul</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("CasesManagement", "Admin")" class="nav-link collapsed">
            <span>Toate cazurile</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a href="@Url.Action("PageCazuriUrgente", "Home")" class="nav-link collapsed">
            <span>Cazuri urgente</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageCazuriFinisate", "Home")" class="nav-link collapsed">
            <span>Cazuri finisate</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("AddTestimonial", "Admin")" class="nav-link collapsed">
            <span>Testimoniale</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("Questions", "Admin")" class="nav-link collapsed">
            <span>FAQ</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a href="@Url.Action("PageParteneriateCompanii", "Home")" class="nav-link collapsed">
            <span>Parteneriate cu companii</span>
        </a>
    </li><!-- End Profile Page Nav -->

</ul>